d
/* HEADER / NAV BAR STYLES START */

header {
  padding: 20px 35px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: 0 0 10px var(--shadow-color);
}

header h1 {
  font-weight: bold;
  margin: 0;
  font-size: 30px;
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--shadow-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 7px 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px var(--shadow-color);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */


/* HERO STYLES START */
/* .hero {
  
  background-image: url('../images/vista.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 100%;
}

.hero-text {
  width: 70%;
  text-align: right;
  margin: 3.5%;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
} */

.hero-text {
  font-style: italic;
  /* font-size: 55px; */
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--shadow-color);
  padding: 20px 20px 30px 320px;
}

/* HERO STYLES END */
/* ABOUT SECTION STYLES START */
.about-content {
  text-shadow: 0 0 10px var(--shadow-color);
  padding: 200px 20px 20px 30px;
  width: 20%;
}

.about-content h2 {
  padding: 30px 20px 7px 20px;
  float: left;
  text-align: right;
  width: 10%;
  display: flex;
}

.about-content p {
  float: right;
  padding: 0 100px 20px 0;
  display: flex;
  width: 30%;
}

.about-content img {
  width: 70px;
  padding-left: 20px;
  /* padding-right: 7px; */

}
/* ABOUT  SECTION STYLES END */

/* WORK SECTION STYLES START */
.work {
  display: flex;
  padding: 0px 20px 40px 20px;
  text-shadow: 0 0 10px var(--shadow-color);
}

.work img:hover {
    opacity: 70%;
}

.work h2 {
  padding: 0px 20px 40px 20px;
  margin: auto;
}

.prime-work img {
  /* float: left; */
  width: 60%;
  margin-left: 300px;
  box-shadow: 0 0 10px var(--shadow-color);
}

.other-work img {
  /* float: right; */
  width: 33.33%; 
  padding: 5px;
}

/* WORK SECTION STYLES END */

/* FOOTER STYLES START */
footer {
  background-color: var(--primary-color);
  padding: 40px 35px;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer h2 {
  color: var(--secondary-color);
  font-size: 30px;
  margin: 0;
  text-align: right;
}

footer ul li a p {
  color: var(--secondary-color);
  list-style: none;
 
}
/* END FOOTER STYLES  */