:root {
  --primary-color: whitesmoke;
  --secondary-color: #7fb0ca;
  --tertiary-color: dsf#818891;
  --shadow-color: rgba(0, 0, 0, 0.5);
  --deep-box: 0 0 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  background-color: var(--secondary-color);
  padding: 15px 15px;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px var(--shadow-color);
}

header h1 {
  color: var(--primary-color);
  box-shadow: 0 0 3px var(--primary-color);
  background-color: #61879b;
  padding: 30px 20px 10px;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 10px var(--shadow-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
  
}

header nav {
  margin: 30px 10px 0 60px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px var(--shadow-color);
}

header nav ul li a:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */


/* HERO STYLES START */

.hero-text {
  font-style: italic;
  /* font-size: 55px; */
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--shadow-color);
  padding: 20px 20px 30px 620px;
  box-shadow: 0 0 10px white;
}

/* HERO STYLES END */

/* MAIN SECTION */
main {
  /* display: flex; */
}

/* ABOUT SECTION STYLES START */
.about {
  display: flex;
  box-shadow: 0 0 10px var(--shadow-color);
  margin: 10px;
  /* margin-top: 0px; */
  /* text-shadow: 0 0 10px var(--shadow-color); */
  /* padding: 100px 40px 40px 30px; */
  /* width: 30%; */
  /* padding:  30px; */
  /* padding: 100px 10px 7px 20px; */
}

.about h2 {
  border-right: solid var(--primary-color);
  text-shadow: 0 0 10px var(--shadow-color);
  padding: 10px 20px 100px 20px;
  /* padding: 0px 10px 7px 20px; */
  text-align: right;
  box-shadow: 0 0 10px red;
  /* display: flex; */
  /* flex-wrap: wrap; */
}

.about-img {
  padding: 10px;
  /* margin: 10px; */
  box-shadow: 0 0 10px red;
  /* margin: 10px 10px 60px 10px; */
  /* display: flex; */
  /* height: 80px; */
  /* float: right; */
    /* padding: 20px; */
}

.about p {
  /* border-right: solid var(--primary-color); */
  /* margin: 20px 20px 10px 10px; */
  text-shadow: 0 0 6px var(--shadow-color);
  padding: 20px 30px 0 20px;
  box-shadow: 0 0 10px green;
  /* width: 60%; */
}
/* ABOUT  SECTION STYLES END */

/* WORK SECTION STYLES START */
.work {
  display: flex;
  /* padding: 0px 20px 40px 520px; */
  
  /* margin: auto; */
}

.work-title h2 {
  /* padding: 7px; */
  /* padding: 100px 10px 7px 20px; */
  text-align: right;
  text-shadow: 0 0 10px var(--shadow-color);
  border-right: solid var(--primary-color);
  padding: 0px 20px 40px 20px;
  /* margin: auto; */
}

.prime-work img {
  /* float: left; */
  width: 50%;
  margin-left: 300px;
  box-shadow: var(--deep-box) var(--shadow-color);
}
.prime-img:hover {
  opacity: 70%;
}
.other-work {
  display: flex;
  padding: 0px 20px 40px 520px;
  text-shadow: 0 0 10px var(--shadow-color);
  margin: auto;
}
.other-work img {
  /* float: right; */
  width: 33.33%; 
  padding: 5px;
  box-shadow: var(--deep-box) var(--shadow-color);
}

/* WORK SECTION STYLES END */
/* MAIN SECTION */
/* FOOTER STYLES START */
footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px;
  /* padding: 40px 40px; */
}


footer h2 {
  border-right: solid var(--secondary-color);
  /* padding: 30px 10px; */
  font-weight: bold;
  /* margin: ; */
  text-align: right;
  width: 10%;
  padding-right: 20px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  /* align-items: center; */
  /* padding: 40px 40px; */
}

footer ul li a {
  padding: 30px 55px;
  margin-right: 30px;
  color: var(--secondary-color);
  font-size: 18px;
}

/* footer a { */
  /* padding: 30px 80px 0 50px; */
/* } */

footer a:hover {
  color: midnightblue;
}

/* END FOOTER STYLES  */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2, footer div {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 80%;
  }
  
  .contact-info iframe{
    flex: 1 100%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }

  .step h3 {
    flex: 1 100%;
    text-align: center;
  }

  .step-info {
    flex: 2 100%;
    text-align: center;
    justify-content: center;
  }

  .step-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .step-text {
    flex: 100%;  
  }

  .trainer-bio h3, .trainer-bio h4 {
    display: block;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  }

  .section-title {
    width: 95%;
  }

  .intro p {
    width: 100%;
  }

  .trainer {
    flex: 0 100%;
  }

  .contact-info {
    text-align: center;
  }

  .contact-info > * {
    flex: 0 100%;
  }

}