:root {
  --primary-color: whitesmoke;
  --secondary-color: rgb(160, 190, 216);
  --tertiary-color: #818891;
  --dark: rgba(70, 69, 65, 0.815);
  --hover-color: rgb(237, 241, 243);
  --shadow-color: rgba(0, 0, 0, 0.5);
  --deep-box: 0 0 25px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--dark);
  background-color: var(--secondary-color);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* HEADER / NAV BAR STYLES START */

header {
  padding: 15px;
  margin: 10px;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px var(--shadow-color);
}

header h1 {
  color: var(--primary-color);
  background-color: var(--dark);
  box-shadow: 0 0 3px var(--primary-color);
  margin-top: 20px;
  padding: 20px 80px 10px 30px;
  font-weight: bold;
  font-size: 30px;
  text-shadow: 0 0 10px var(--shadow-color);
}

header a {
  text-decoration: none;
  color: var(--primary-color);
}

header nav {
  margin: 40px 10px 0 0;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 10px 0 40px;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 20px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px var(--shadow-color);
}

header nav ul li a:hover {
  background: var(--hover-color);
  color: var(--tertiary-color);
  border-radius: 15px;
  text-shadow: none;
}

/* HEADER / NAVBAR STYLES END */


/* HERO STYLES START */
.hero {
  background-image: url('../images/silver.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  image-resolution: from-image;
  margin-bottom: 50px;
}
.hero-text {
  font-style: italic;
  color: var(--primary-color);
  text-shadow: 0 0 10px var(--shadow-color);
  padding: 40px 20px 30px 720px;
}
/* HERO STYLES END */

/* ABOUT SECTION STYLES START */
.about {
  display: flex;
  flex-wrap: nowrap;
}

.about h2 {
  border-right: solid 3px var(--dark);
  padding: 20px 20px 0 58px;
  text-align: right;
}

.about-img {
  margin: 20px;
  padding: 10px;
  box-shadow: 0 0 7px var(--shadow-color);
}

.about p {
  padding: 32px 700px 0 0;
  color: var(--dark);
  /* color: var(--dark); */
 }

/* ABOUT  SECTION STYLES END */

/* WORK SECTION STYLES START */
.work {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.work h2 {
  border-right: solid 3px var(--dark);;
  padding: 20px 16px 0 75px;
  text-align: right;
}

.prime-work {
  display: flex;
  flex-wrap: nowrap;
}

.img-txt {
  color: var(--dark);
  text-shadow: 0 0 10px var(--primary-color);
}

a {
  text-decoration: none;
}

.prime-img {
  margin: 20px;
  padding: 20px;
  align-items: center;
  box-shadow: var(--deep-box) var(--shadow-color);
}

.prime-img:hover {
  opacity: 70%;
}

.other-work {
  margin: 0 20px 30px 154px;
  border-left: solid 3px var(--dark);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}


.image {
  margin: 10px;
  padding: 10px;
  box-shadow: var(--deep-box) var(--shadow-color);
}
.image-1 {
  margin-left: 20px;
}
.image-2 {
  margin-bottom: 70px;
}

.image-3 {
  margin-right: 90px;
  margin-bottom: 80px;
}

.image:hover {
  opacity: 70%;
}

/* WORK SECTION STYLES END */

/* FOOTER STYLES START */
footer {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  padding: 40px 40px;
}


footer h2 {
  color: var(--dark);
  border-right: solid 3px var(--dark);
  font-weight: bold;
  text-align: right;
  width: 10%;
  padding-right: 112px;
}

footer ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
  text-decoration: none;
}

footer ul li a {
  color: var(--dark);
  padding: 40px 55px 0;
  margin-right: 30px;
  font-size: 18px;
}

footer a:hover {
  color: var(--secondary-color);
}

/* END FOOTER STYLES  */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2 {
    text-align: center;
    width: 100%;
  }

}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  
  .prime-img {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .image {
    display: block;
  }

  .img-text {
    flex: 100%;  
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  
  .about p {
    width: 100%;
  }
 
  .image {
    flex: 0 32%;
  }
}